AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_UPLOAD_BUCKET=
AWS_S3_DB_BUCKET=
AWS_ENABLE_STORAGE=false
AWS_DEFAULT_EMBEDDING_MODEL=
AWS_ENABLE_EMBEDDING_MODELS=false
AWS_IS_DB_DEFAULT_STORAGE=false
AWS_IS_UPLOAD_DEFAULT_STORAGE=false
ENABLE_DISK_STORAGE=true
ENABLE_METRICS=true
AUTO_LOAD_COLLECTIONS=
SHILP_FILE_PATH=/data/shilp
UPLOAD_FILE_PATH=/data/upload
ENABLE_DOCS_CREATION=true
LOG_LEVEL=debug
SERVER_PORT=3000
SERVER_HOST=localhost
